.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card {
  border: 1px solid rgb(206, 206, 206);
  width: 300px;
}
.card-img-top{
  margin-bottom: -5px;
}
.btn-next{
  border: none;
  background: rgb(240, 240, 240);
  width: 100%;
}

.count-container{
  display: flex;
  justify-content: space-between;
}
.count-display{
  margin: 5px 10px;
  font-size: 12px;
}
